.cart {
    min-height: 100vh;
    max-height: auto;
    display: grid;
    place-items: center;

    @include respond(phone) {
        min-height: 130vh;
    }
    
    .emptyCart {
        height: 100%;
        display: grid;
        grid-template-rows: 80% 20%;

        @include respond(phone) {
            height: 100%;
            width: 100%;
        }

        @include respond(tab) {
            height: 100%;
            width: 70%;
        }

        .emptyCartImg {
            display: grid;
            place-items: center;

            img {
                justify-self: center;
    
                @include respond(phone) {
                    align-self: center;
                    height: 30rem;
                    width: 40rem;
                }
    
                @include respond(tab) {
                    align-self: center;
                    height: 60%;
                    width: 70%;
                }
            }
        }

        .emptyCartText {
            display: grid;
            place-items: center;

            h1 {
                font-size: 2rem;
                font-family: Open Sans, cursive, monospace, sans-serif;
            }
        }
    }

    .cartItems {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
        }

        @include respond(tab) {
            display: flex;
            flex-direction: column;
        }

        .cards {
            display: grid;
            background-color: #f1f1f1;

            @include respond(phone) {
                min-height: 60%;
            }

            .cardOne {
                justify-self: center;
                width: 80%;
                display: grid;
                align-items: center;
                height: 10rem;

                @include respond(phone) {
                    width: 90%;
                }

                h1 {
                    color: #000;
                    font-family: Open Sans, sans-serif;
                    font-size: 2.8rem;

                    @include respond(phone) {
                        font-size: 2.2rem;
                    }
                }
            }

            .cardTwo {
                display: flex;
                flex-direction: column;

                .cardItem { 
                    margin: 1rem 0;
                    background-color: #fff;
                    align-self: center;
                    width: 80%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

                    @include respond(phone) {
                        width: 90%;
                    }

                    .cardItemOne {
                        padding: 5%;

                        img {
                            max-width:100%;
                            max-height:100%;
                        }
                    }

                    .cardItemTwo {
                        display: grid;
                        grid-template-rows: 20% 60% 20%;

                        h1 {
                            display: grid;
                            place-items: center;
                            color: #000;
                            font-family: Open Sans, sans-serif;
                            font-size: 1.5rem;
                            
                            @include respond(phone) {
                                display: grid;
                                place-items: center;
                                height: 100%;
                                width: 100%;
                                font-size: 1.2rem;
                            }
                        }

                        .name {
                            display: grid;
                            place-items: center;

                            // h1 {
                            //     color: #000;
                            //     font-family: Open Sans, sans-serif;
                            //     font-size: 1.5rem;
                            // }
                        }

                        .details {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;

                            // h1 {
                            //     display: grid;
                            //     place-items: center;
                            //     color: #000;
                            //     font-family: Open Sans, sans-serif;
                            //     font-size: 1.5rem;
                            // }
                        }

                        .delete {
                            display: grid;
                            place-items: center;

                            #deleteItem {
                                cursor: pointer;
                                border: .5px solid #000;
                                border-radius: 10rem;
                                color: #000;
                                font-family: Open Sans, sans-serif;
                                font-size: 2.5rem;

                                &:hover {
                                    color: #fff;
                                    background-color: #000;
                                    transition: 0.7s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }

        .payment {
            display: grid;
            grid-template-rows: 1fr 2fr;
            max-height: 55rem;

            @include respond(phone) {
                max-height: 30rem;
            };

            @include respond(tab) {
                max-height: 35rem;
            };

            .payOne {
                display: grid;
                place-items: center;

                .payOneContent {
                    height: 80%;
                    width: 80%;
                    display: flex;
                    flex-direction: column;

                    @include respond(phone) {
                        width: 90%;
                    }

                    @include respond(tab) {
                        width: 95%;
                    }

                    .cart-price {
                        display: flex;
                        justify-content: space-between;
                        
                        span {
                            font-size: 1.4rem;
                            font-weight: 600;
                            font-family: Open Sans, sans-serif;
                            margin: 0.5rem 0;
                        }

                        p {
                            font-size: 1.2rem;
                            font-weight: 200;
                            font-family: Open Sans, sans-serif;
                            margin-top: .5rem 0;
                        }

                        .total {
                            font-size: 1.5rem;
                            margin: 2rem 0;
                        }
                    }
                }
            }

            .payTwo {

                .payTwoContent {
                    height: 35%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    @include respond(phone) {
                        height: 100%;
                        justify-content: center;
                    }

                    @include respond(tab) {
                        height: 100%;
                        justify-content: center;
                    }

                    .checkout {
                        border: none;
                        cursor: pointer;
                        height: 5rem;
                        width: 80%;

                        @include respond(phone) {
                            width: 90%;
                            margin: .5rem 0;
                        }

                        @include respond(tab) {
                            width: 95%;
                            margin: .5rem 0;
                        }
                    }

                    .main {
                        background: #000;

                        &:hover {
                            background: #fff;
                            border: solid #000;
                            transition: 0.7s ease-in-out;

                            p {
                                color: #000;
                            }
                        }

                        p {
                            color: #fff;
                            font-family: cursive, monospace, sans-serif;
                            font-weight: 600;
                            font-size: 1.3rem;
                        }
                    }

                    .paypal {
                        background: linear-gradient(98deg,#193c7b,#009cde 93%);

                        
                        p {
                            color: #fff;
                            font-family: Nunito, cursive, monospace, sans-serif;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
};

