.favorites {
    min-height: 200vh;
    max-height: auto;
    display: grid;
    grid-template-rows: 10% 90%;

    .title {
        display: grid;
        align-items: center;

        h1 {
            color: #000;
            margin-left: 5%;
            font-size: 2rem;
            font-family: Open Sans, 'Courier New', Courier, monospace;
        }
    }

    .items {
        min-height: 150vh;
        max-height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        justify-self: center;

        @include respond(phone) {
            grid-template-columns: 1fr;
        };

        @include respond(tab) {
            grid-template-columns: repeat(2, 1fr);
        }

        .itemsContent {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30rem;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            margin: 0 1rem;

            img {
                padding: 10px;
                height: 25rem;
                width: 25rem;
            }

            .itemDetails {
                width: 100%;
                height: 100%;

                h1 {
                    font-size: 1.3rem;
                    font-family: Open Sans, monospace, cursive, sans-serif;
                    margin: 2px 1rem;
                }
            }
        }
    }
};

