.favorites {
    min-height: 100vh;
    max-height: auto;
    display: grid;

    .title {
        display: grid;
        align-items: center;
        height: 10vh;

        h1 {
            color: #000;
            margin-left: 5%;
            font-size: 2rem;
            font-family: Open Sans, monospace, sans-serif;
            //font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        justify-self: center;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
        };

        @include respond(tab) {
            grid-template-columns: repeat(2, 1fr);
        }

        .itemsContent {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30rem;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            margin: 10px;

            @include respond(phone) {
                margin: 1rem 0;
            }

            #delete {
                position: absolute;
                font-size: 2.2rem;
                top: 5px;
                right: 5px;
            }

            img {
                padding: 10px;
                height: 25rem;
                width: 25rem;

                @include respond(phone) {
                    padding: 2px;
                }
            }

            .itemDetails {
                width: 100%;
                height: 100%;

                h1 {
                    font-size: 1.3rem;
                    font-family: Open Sans, monospace, cursive, sans-serif;
                    margin: 2px 1rem;
                }
            }
        }
    }
};

