.home {
    height: 200vh;

    @include respond(phone) {
        height: 130vh;
    }

    @include respond(tab) {
        height: 130vh;
    }

    .carousal {
        position: relative;
        height: 88vh;
        width: 100%;
        display: flex;
        overflow: hidden;

        @include respond(phone) {
            height: 60vh;
        };

        @include respond(tab) {
            height: 70vh;
        } 

        .cards {

            img {
                height: 100%;
                width: 1400px;

                @include respond(phone) {
                    height: 100%;
                    width: 100%;
                }

                @include respond(tab) {
                    height: auto;
                }
            }
        }
    };

    .buttons {
        z-index: 100;
        position: absolute;
        height: 60px;
        width: 60px;
        top: 50%;

        @include respond(phone) {
            height: 30px;
            width: 30px;
        };

        @include respond(tab) {
            height: 30px;
            width: 30px;
        }

        button {
            //border: solid #fff;
            border: .1px solid #000;
            cursor: pointer;
            color: #000;
            background: #fff;
            height: inherit;
            width: inherit;
            font-size: 3rem;

            @include respond(phone) {
                font-size: 1.5rem;
            };

            @include respond(tab) {
                font-size: 1.5rem;
            }
        }
    };

    #right {
        left: 90%;
    };

    #left {
        left: 5%;
    }

    .intro {
        height: 112vh;
        background: #000;
        display: grid;
        grid-template-rows: 30% 70%;
        
        @include respond(phone) {
            height: 70vh;
        }

        @include respond(tab) {
            height: 80vh;
        }

        .introOne {
            display: grid;
            place-items: center;

            h1 {
                color: #fff;
                font-size: 4rem;
                font-family: Kanit, sans-serif;

                @include respond(phone) {
                    font-size: 2.5rem;
                }

                @include respond(tab) {
                    font-size: 3rem;
                }
            }
        }

        .introTwo {
            display: grid;
            place-items: center;
            grid-template-rows: 1fr 1fr;

            .introTwoOne {
                height: 100%;
                padding: 3rem 15rem;

                @include respond(phone) {
                    padding: 1rem 3rem;
                }

                @include respond(tab) {
                    padding: 1rem 10rem;
                }

                p {
                    color: #fff;
                    font-size: 2.8rem;
                    font-family: Kanit, sans-serif;

                    @include respond(phone) {
                        font-size: 1.5rem;
                    }

                    @include respond(tab) {
                        font-size: 2rem;
                    }
                }
            }

            .introTwoTwo {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .boxes {
                    position: relative;
                    background: #fff;
                    cursor: pointer;
                    margin: 0 5rem;
                    border: solid #fff;
                    border-radius: 1rem;
                    height: 10rem;
                    width: 10rem;
                    display: grid;
                    place-items: center;

                    &:hover {
                        :first-child {
                            display: none;
                        }

                        :last-child {
                            display: grid;
                        }
                    }

                    img {
                        height: 90%;
                        width: 90%;
                    }

                    .boxes2 {
                        position: absolute;
                        border: solid #fff;
                        border-radius: 1rem;
                        height: 100%;
                        width: 100%;
                        display: none;
                        place-items: center;

                        h1 {
                            font-family: Kanit, sans-serif;
                            font-size: 1rem;

                            @include respond(phone) {
                                font-size: .7rem;
                            }
                        }
                    }

                    @include respond(phone) {
                        margin: 0 1rem;
                        height: 7rem;
                        width: 7rem;
                    }

                    @include respond(tab) {
                        margin: 0 2rem;
                        height: 6rem;
                        width: 6rem;
                    }
                }
            }
        }
    }
};