.home {
    height: 200vh;

    .carousal {
        position: relative;
        height: 80vh;
        width: 100%;
        display: flex;
        overflow: hidden;

        @include respond(phone) {
            height: 40vh;
        };

        @include respond(tab) {
            height: auto;
        } 

        .cards {

            img {
                height: 100%;
                width: 100%;

                @include respond(phone) {
                    height: 100%;
                    width: 100%;
                }

                @include respond(tab) {
                    height: auto;
                }
            }
        }
    };

    .buttons {
        z-index: 100;
        position: absolute;
        height: 60px;
        width: 60px;
        top: 50%;

        @include respond(phone) {
            height: 30px;
            width: 30px;
        };

        @include respond(tab) {
            height: 30px;
            width: 30px;
        }

        button {
            //border: solid #fff;
            border: .1px solid #000;
            cursor: pointer;
            color: #000;
            background: #fff;
            height: inherit;
            width: inherit;
            font-size: 3rem;

            @include respond(phone) {
                font-size: 1.5rem;
            };

            @include respond(tab) {
                font-size: 1.5rem;
            }
        }
    };

    #right {
        left: 90%;
    };

    #left {
        left: 5%;
    }
};