.home {
    height: 100vh;

    .container {
        height: 100%;
        position: relative;

        .carBox {
            position: relative;
            display: flex;
            overflow: hidden;
            height: 100%;

            .homecards-enter {
                opacity: 0;
                transform: scale(.9);
            }

            .homecards-enter-active {
                opacity: 1;
                transform: translateX(0);
                transition: opacity 300ms, transform 300ms;
            }
    
            .homecards-exit {
                opacity: 1;
            }
            
            .homecards-exit-active {
                opacity: 1;
                transform: scale(.9);
                transition: opacity 300ms, transform 300ms;
            }

            .cards {
                position: absolute;
                height: 100%;
                width: 100%;
                display: grid;

                #img {
                    width: 100%;
                    height: auto;
                };

                #texts {
                    border: 3px solid #fff;
                    position: absolute;
                    height: 25%;
                    width: 50%;
                    justify-self: center;
                    align-self: center;
                    display: grid;
                    place-items: center;

                    h1 {
                        color: #fff;
                        font-size: 2.5rem;
                        font-family: Open Sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    };
                };
            };
        }

        #carBtn {
            position: absolute;
            z-index: 100;
            cursor: pointer;
            margin: 0 1rem;
            height: 4rem;
            width: 4rem;
            border-radius: 10rem;
            border: none;
            font-size: 2rem;
            top: 50%;
        };

        .right {
            left: 94%;
        }

        .left {
            left: 1%;
        }
    };
};