.productDetails {
    min-height: 100vh;
    max-height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @include respond(phone) {
        min-height: 130vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    @include respond(tab) {
        grid-template-columns: 1fr 1fr;
    }

    .divOne {
        border-right:.1px solid #000;
        display: grid;
        grid-template-rows: 80% 20%;

        @include respond(phone) {
            border: none;
        }

        @include respond(tab) {
            border: none;
        }

        .mainimg {
            display: grid;
            place-items: center;

            img {
                cursor: pointer;
                height: 40rem;

                @include respond(phone) {
                    height: 35rem;
                }

                @include respond(tab) {
                    height: 35rem;
                }
            }
        }

        .slider {
            justify-self: center;
            width: 50%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include respond(phone) {
                width: 70%;
            }

            .imgDivs {
                display: grid;
                place-items: center;

                img {
                    cursor: pointer;
                    height: 9rem;

                    @include respond(phone) {
                        height: 5rem;
                    }

                    @include respond(tab) {
                        height: 8rem;
                    }

                    &:hover {
                        border: .1px solid #000;
                    }
                }
            }
        }
    }

    .divTwo {
        display: grid;
        grid-template-rows: 10% 10% 80%;

        @include respond(phone) {
            grid-template-rows: 15% 15% 70%;
        }

        .productTitle {
            display: grid;
            place-items: center;

            h1 {
                color: #000;
                font-family: Open Sans, 'Courier New', Courier, monospace;
                font-size: 2rem;
                padding: 1rem;

                @include respond(phone) {
                    font-size: 1.5rem;
                }
                
                @include respond(tab) {
                    padding: 0;
                    font-size: 1.5rem;
                }
            }
        }

        .productPrice {
            display: grid;
            align-items: center;

            p {
                margin: 0 0 0 3.5rem;
                color: #000;
                font-family: Open Sans, 'Courier New', Courier, monospace;
                font-size: 1.8rem;

                @include respond(phone) {
                    font-size: 1.5rem;
                    margin: 0;
                    justify-self: center;
                }

                @include respond(tab) {
                    font-size: 1.6rem;
                    margin: 0;
                    justify-self: center;
                }
            }
        }

        .productInfo {
            display: grid;
            grid-template-rows: 15% 15% 70%;

            @include respond(phone) {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .size {
                justify-self: center;
                width: 85%;
                display: flex;
                align-items: center;

                @include respond(phone) {
                    width: 80%;
                    grid-column: 1 / 4;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                }

                @include respond(tab) {
                    width: 100%;
                    display: grid;
                    place-items: center;
                    grid-template-columns: repeat(5, 1fr);
                }

                .sizes {
                    cursor: pointer;
                    border: solid black;
                    border-radius: 5px;
                    display: grid;
                    place-items: center;
                    height: 40px;
                    width: 50px;
                    margin: 0 1rem;
                    
                    @include respond(phone) {
                        margin: 0;
                        height: 20px;
                        width: 25px;
                    }

                    @include respond(tab) {
                        height: 30px;
                        width: 30px;
                    }

                    &:hover {
                        background: #70e2ff;
                    }

                    p {
                        color: #000;
                        font-size: 1.5rem;
                        font-family: Open Sans, sans-serif;
    
                        @include respond(phone) {
                            font-size: 1rem;
                        }

                        @include respond(tab) {
                            font-size: 1.4rem;
                        }
                    }

                    @include respond(phone) {
                        margin: 5% 30%;
                    }

                    @include respond(tab) {
                        margin: 0 5%;
                    }
                }
            }

            .quantity {
                display: grid;
                place-items: center;

                @include respond(phone) {
                    grid-column: 1 / 2;
                }

                select {
                    height: 50%;
                    width: 80%;
                    margin: 10%;
                    font-size: 1.3rem;

                    @include respond(phone) {
                        height: 5rem;
                        width: 10rem;
                        margin: 0;
                        font-size: 2rem;
                    }

                    @include respond(tab) {
                        height: 4rem;
                        width: 25rem;
                        margin: 2rem 0;
                    }
                }
            }

            .submit {
                display: grid;
                place-items: center;

                @include respond(phone) {
                    grid-column: 2 / 4;
                }
                
                button {
                    cursor: pointer;
                    height: 5rem;
                    width: 25rem;
                    background: #000;
                    color: #fff;
                    transition: 0.7s ease-in-out;
                    font-size: 2rem;

                    &:hover {
                        background: #fff;
                        color: #000;
                    }

                    @include respond(phone) {
                        font-size: 2rem;
                        height: 5rem;
                        width: 80%;
                    }
                }
            }
        }
    }
}