.shorts {
    min-height: 130vh;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @include respond(phone) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(tab) {
        grid-template-columns: repeat(2, 1fr);
    }

    a {
        color: #000;
        text-decoration: none;

        .catalogCard {
            margin: 5%;
            cursor: pointer;
            border: .1px solid #808080;
            background: #fff;
            display: grid;
            grid-template-rows: 80% 20%;
            position: relative;

            @include respond(phone) {
                margin: 0;
            }
    
            &:hover {
                border: 2px solid #000000;
            }
    
            #favoriteIt {
                position: absolute;
                top: 3%;
                left: 92%;
                font-size: 2rem;

                &:hover {
                    color: red;
                }
    
                @include respond(phone) {
                    font-size: 1.5rem;
                    left: 90%;
                }
            }
            
            .catalogCardOne {
                display: grid;
                place-items: center;
    
                img {
                    max-width: 80%;
                    max-height: 80%;
                }
            }
    
            .catalogCardTwo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 0 0 1rem;
    
                h1 {
                    font-size: 1.5rem;
                    font-family: Montserrat, cursive, monospace, sans-serif;
    
                    @include respond(phone) {
                        font-size: 1rem;
                    }
                }
    
                p {
                    font-size: 1.4rem;
                    font-family: Kanit, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
                    @include respond(phone) {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}